<% @user ||= current_user %>
<% num_followers = @user.followers.count %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= num_followers %>
    </strong>
    <%= num_followers == 1 ? "follower" : "followers" %>
  </a>
</div>